.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.news-list {
  width: 100%;
  max-width: 800px;
}

.post {
  background-color: #ffffff;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #444444;
  font-weight: bold;
}

h2 {
  color: #333333;
  margin-bottom: 20px;
}

p {
  color: #444444;
}
